{% extends "layout.html" %}
{% block title %}视频信息列表{% end %}

{% block content %}
<form action="/api/face/{{ username }}" method="post" enctype="multipart/form-data">
    {% module xsrf_form_html() %}
    <input type="hidden" name="username" value="{{ escape(username) }}"/>
    <input type="file" name="photo" multiple="" />
    <input type="submit" value="上传"/>
</form>

<div class="ui divider"></div>
<div class="ui special cards">
    {% if data %}
    {% for d in data %}
    <div class="card">
        <div id="img-{{ d.photo_md5 }}" class="blurring dimmable image">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <div class="ui inverted button">复制</div>
                    </div>
                </div>
            </div>
            <img src="data:image/jpeg;base64,{{ data2photo(d.enc_data) }}">
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <div class="ui basic blue button"> 复制</div>
                <div class="ui basic green button"> 标记已使用</div>
            </div>
        </div>
    </div>
    {% end %}
    {% end %}
</div>
<script type="text/javascript">
    $('.special.cards .image').dimmer({on: 'hover'});
</script>
{% end %}
