/*
* * * * * * * * * * * * * * * * * * * *
* LOGIN CSS
* * * * * * * * * * * * * * * * * * * *
*/

h2 {
    text-align: center;
}

#login {
    margin: 5rem auto;
    padding: 5em;
    width: 100%;
    max-width: 28rem;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

@media (max-width: 450px) {
    #login {
        margin: 5rem auto;
        padding: 2rem;
        max-width: 75%;
    }
}



body,
input,
select,
textarea,
body * {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body::after,
body::before,
input::after,
input::before,
select::after,
select::before,
textarea::after,
textarea::before,
body *::after,
body *::before {
    box-sizing: border-box;
}

body {
    background-image: -webkit-linear-gradient(180deg, #f2f2f2, #e6e6e6);
    background-image: linear-gradient(top, #f2f2f2, #e6e6e6);
}

.err-info > p {
    margin: 0 0 2em;
    font-size: 1rem;
    text-align: center;
    color: #d9534f;
}

#showuser,
.container {
    position: relative;
    margin: 5rem auto;
    border-radius: 1px;
    padding: 3rem 5rem 0;
    width: 100%;
    max-width: 40rem;
    background: #fff;
}

#showuser::before,
.container::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
    -webkit-transition: -webkit-transform .28s ease-in-out;
    transition: -webkit-transform .28s ease-in-out;
    transition: transform .28s ease-in-out;
    transition: transform .28s ease-in-out, -webkit-transform .28s ease-in-out;
    -webkit-transform: scale(.98);
    transform: scale(.98);
    content: "";
}


/*#showuser:hover::before,*/

.container:hover::before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.button-container {
    text-align: center;
}

fieldset {
    margin: 0 0 3rem;
    border: none;
    padding: 0;
}

.form-group {
    position: relative;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
}

.form-inline > .form-group,
.form-inline > .btn {
    display: inline-block;
    margin-bottom: 0;
}

.form-group input {
    height: 1.9rem;
}

.form-group textarea {
    resize: none;
}

.form-group select {
    border: none;
    padding: .125rem .125rem .0625rem;
    width: 100%;
    height: 1.6rem;
    font-size: 1rem;
    line-height: 1.6;
    background: none;
    box-shadow: none;
}

.form-group .control-label {
    position: absolute;
    top: .25rem;
    z-index: 1;
    padding-left: .125rem;
    font-size: 1rem;
    font-weight: normal;
    color: #b3b3b3;
    -webkit-transition: all .28s ease;
    transition: all .28s ease;
    pointer-events: none;
}

.form-group .bar {
    display: block;
    position: relative;
    border-bottom: .0625rem solid #999;
}

.form-group .bar::before {
    position: absolute;
    bottom: -.0625rem;
    left: 50%;
    z-index: 2;
    width: 0;
    height: .125rem;
    background: #337ab7;
    -webkit-transition: left .28s ease, width .28s ease;
    transition: left .28s ease, width .28s ease;
    content: "";
}

.form-group input,
.form-group textarea {
    display: block;
    border: 0 transparent;
    padding: .125rem .125rem .0625rem;
    width: 100%;
    font-size: 1rem;
    line-height: 1.9;
    color: transparent;
    background: none;
    box-shadow: none;
    -webkit-transition: all .28s ease;
    transition: all .28s ease;
}

.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group textarea:focus,
.form-group textarea:valid {
    color: #333;
}

.form-group select ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label,
.form-group input.form-file ~ .control-label,
.form-group input.has-value ~ .control-label,
.form-group textarea:focus ~ .control-label,
.form-group textarea:valid ~ .control-label,
.form-group textarea.form-file ~ .control-label,
.form-group textarea.has-value ~ .control-label {
    top: -1rem;
    left: 0;
    font-size: .8rem;
    color: gray;
}

.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
    outline: none;
}

.form-group select:focus ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group textarea:focus ~ .control-label {
    color: #337ab7;
}

.form-group select:focus ~ .bar::before,
.form-group input:focus ~ .bar::before,
.form-group textarea:focus ~ .bar::before {
    left: 0;
    width: 100%;
}

.has-error .legend.legend,
.has-error.form-group .control-label.control-label {
    color: #d9534f;
}

.has-error.form-group .form-help,
.has-error.form-group .helper,
.has-error.checkbox .form-help,
.has-error.checkbox .helper,
.has-error.radio .form-help,
.has-error.radio .helper,
.has-error.form-radio .form-help,
.has-error.form-radio .helper {
    color: #d9534f;
}

.has-error .bar::before {
    left: 0;
    width: 100%;
    background: #d9534f;
}

.button {
    overflow: hidden;
    position: relative;
    margin: 3rem 0;
    border: 1px solid currentColor;
    padding: .75rem 3rem;
    font-size: 1.1rem;
    color: #4f93ce;
    background: currentColor;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -webkit-transition: background-color .28s ease, color .28s ease, box-shadow .28s ease;
    transition: background-color .28s ease, color .28s ease, box-shadow .28s ease;
    cursor: pointer;
}

.button span {
    position: relative;
    z-index: 1;
    color: #fff;
}

.button::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    border: 50vh solid #1d4567;
    border-radius: 50%;
    width: 30vh;
    height: 30vh;
    background: #071017;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    content: "";
}

.button:hover {
    color: #337ab7;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}

.button:active::before,
.button:focus::before {
    opacity: 0;
    -webkit-transition: opacity .28s ease .364s, -webkit-transform 1.12s ease;
    transition: opacity .28s ease .364s, -webkit-transform 1.12s ease;
    transition: transform 1.12s ease, opacity .28s ease .364s;
    transition: transform 1.12s ease, opacity .28s ease .364s, -webkit-transform 1.12s ease;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}

.button:focus {
    outline: none;
}

@media (max-width: 450px) {
    #showuser {
        padding: 1rem 2rem !important;
        width: 100%;
        max-width: 40rem !important;
    }
}
