{% extends "layout.html" %}
{% block title %}日志相关{% end %}

 {% block content %}
     {% if log_content %}
        <div class="ui raised segments">
            {% for item in log_content %}
                <div class="ui segment">
                    <p> {{ escape(item[0]) }}： {{ escape(item[1]) }} </p>
                </div>
            {% end %}
        </div>
    {% else %}
        <div class="ui segment"><strong> 404 Not Found. </strong></div>
    {% end %}

    <script type="text/javascript">
        $(".i_syslog").addClass("active")
    </script>
{% end %}
